@charset "utf-8";

html {
    font-size: 100%;
}

body {
    /* background-color: rgb(24, 24, 24); */
    background-color: rgb(245, 245, 245);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    margin: auto;
}

header {
    display: flex;
    margin-bottom: 20px;
}

header .logo {
    width: 250px;
}

nav {
    text-align: center;
}

.navigation {
    display: flex;
    list-style: none;
    font-size: 20px;
}

.navigation li {
    margin: 0 10px;
}

.navigation li:hover {
    border-bottom: 1px black solid;
}

.navigation a {
    color: black;
}

.grid {
    display: grid;
    gap: 26px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin: 0 26px;
}

.grid .picture {
    margin: auto;
}

footer .copy-right {
    text-align: center;
}